--swiftversion 5.9
--indent 4
--maxwidth 200
--wraparguments before-first
--wrapcollections before-first
--closingparen balanced
--self insert
--stripunusedargs closure-only
--ifdef no-indent
--disable redundantRawValues
--disable blankLinesAtStartOfScope
--disable wrapPropertyBodies
--disable sortImports
--disable redundantOptionalBinding
--disable docComments
--disable blankLinesBetweenScopes
--disable andOperator
--disable conditionalAssignment
--disable wrapMultilineStatementBraces
--disable wrap
--disable consecutiveSpaces
--disable trailingCommas
--disable indent
--disable redundantSelf
--exclude .build,.swiftpm,DerivedData
